*.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/Models/Worker.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_BumbleBee[[:space:]]\[Albedo\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_BumbleBee[[:space:]]\[Albedo\][[:space:]]2.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_BumbleBee[[:space:]]\[Albedo\][[:space:]]3.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_BumbleBee[[:space:]]\[Albedo\][[:space:]]4.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_BumbleBee[[:space:]]\[Ambient\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_BumbleBee[[:space:]]\[Emissive\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_BumbleBee[[:space:]]\[Emissive\][[:space:]]2.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_BumbleBee[[:space:]]\[Emissive\][[:space:]]3.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_BumbleBee[[:space:]]\[Emissive\][[:space:]]4.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_BumbleBee[[:space:]]\[Metalness\][[:space:]]2.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_BumbleBee[[:space:]]\[Metalness\].tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_BumbleBee[[:space:]]\[Normal\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_BumbleBee[[:space:]]\[Normal\][[:space:]]2.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[albedo-diffuse\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[albedo-diffuse\][[:space:]]2.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[albedo-diffuse\][[:space:]]3.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[albedo-diffuse\][[:space:]]4.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[emission-animated\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[emission-animated\][[:space:]]2.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[emission\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[emission\][[:space:]]2.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[emission\][[:space:]]3.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[emission\][[:space:]]4.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[height\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[metal-gloss\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[metal-gloss\][[:space:]]2.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[metal-gloss\][[:space:]]3.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[metal-gloss\][[:space:]]4.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[normal\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[normal\][[:space:]]2.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[normal\][[:space:]]3.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[normal\][[:space:]]4.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Quad[[:space:]]\[occlusion\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Toad[[:space:]]\[Albedo\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Toad[[:space:]]\[Albedo\][[:space:]]2.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Toad[[:space:]]\[Albedo\][[:space:]]3.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Toad[[:space:]]\[Albedo\][[:space:]]4.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Toad[[:space:]]\[Ambient\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Toad[[:space:]]\[Emissive\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Toad[[:space:]]\[Emissive\][[:space:]]2.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Toad[[:space:]]\[Emissive\][[:space:]]3.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Toad[[:space:]]\[Emissive\][[:space:]]4.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Toad[[:space:]]\[Normal\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_Toad[[:space:]]\[Specular\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_UFO[[:space:]]\[Ambient\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_UFO[[:space:]]\[Ambient\][[:space:]]2.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_UFO[[:space:]]\[Diffuse\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_UFO[[:space:]]\[Diffuse\][[:space:]]2.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_UFO[[:space:]]\[Emmision\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_UFO[[:space:]]\[Emmision\][[:space:]]2.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_UFO[[:space:]]\[Emmision\][[:space:]]3.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_UFO[[:space:]]\[Emmision\][[:space:]]4.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_UFO[[:space:]]\[Normal\][[:space:]]1.tga filter=lfs diff=lfs merge=lfs -text
/Assets/ProfessionalAssets/DronePack/Textures/_UFO[[:space:]]\[Normal\][[:space:]]2.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonVoice/PhotonVoiceLibs/iOS/libwebrtc-audio.a filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/BareMetal/BareMetal_BC.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/BareMetal/BareMetal_MT.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/BareMetal/BareMetal_N.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/BareMetal/T_ElectricTranTower_BC.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/BareMetal/T_ElectricTranTower_MT.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/BareMetal/T_ElectricTranTower_N.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/painted/T_ElectricTranTower_BC.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/painted/T_ElectricTranTower_MT.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/painted/T_ElectricTranTower_N.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/painted/T_ElectricTranTower_PaintMask_M.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/paintedScratch/Painted_BC.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/paintedScratch/Painted_Green_BC.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/paintedScratch/Painted_MT.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/paintedScratch/Painted_N.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/paintedScratch/Painted_PaintMask_M.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/paintedScratch/Painted_Red_BC.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/paintedScratch/Painted_White_BC.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/paintedScratch/T_ElectricTranTower_BC.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/paintedScratch/T_ElectricTranTower_MT.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/paintedScratch/T_ElectricTranTower_N.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Assets_ElectricTransmissionTowers/models/textures/paintedScratch/T_ElectricTranTower_PaintMask_M.tga filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
/Assets/Assets_ElectricTransmissionTowers/models/demoscene.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/Oculus/LipSync/Plugins/MacOSX/OVRLipSync.bundle filter=lfs diff=lfs merge=lfs -text
/Assets/Oculus/LipSync/Plugins/iOS/libOVRLipSync.dylib filter=lfs diff=lfs merge=lfs -text
